<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    <header><p style="text-align:right;">Logged in as <%="#{@signed_in_user.user_name}" %>&nbsp;
    <a href="/explore_rooms">Explore Rooms</a>&nbsp;
    <a href="/requests">Requests</a>&nbsp;
    <a href="/logout">Log Out</a>
    <p></header>
  <body>
    <img src='images/makers_logo.jpg' id='logo'>
    <section id='box'>
      <section id='explore_rooms'>
        <br><h2>Welcome back <%="#{@signed_in_user.first_name}" %>!</h2>
        <form action="/create_listing" method="GET">
          <input type="submit" name="add_listing" value="Add new listing!">
        </form><br>
        <hr>
        <form>
          <ul><% Room.all.reverse.each do |room| %>
          <h2><%= room.title %></h2>
          <%= room.description %><br>
          Available for £<%= '%.2f' % room.price_per_night %> per night.<br>
          posted by <% @name = User.find_by(id: "#{room.user_id}") %><%= @name.user_name %>
        </form>
        <form action="/book" method="post"><br>
          <input type="hidden" name="room_id" value="<%=room.id%>">
          <input type="submit" value="Book It!"><br>
          <br><hr>
        </form>
        <% end %></ul> 
      </section>
    </section>
  </body>
</html>