<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    <header><p style="text-align:right;">Logged in as <%="#{@signed_in_user.user_name}" %>&nbsp;
    <a href="/explore_rooms">Explore Rooms</a>&nbsp;
    <a href="/requests">Requests</a>&nbsp;
    <a href="/logout">Log Out</a>
    <p></header>
  <body>
    <img src='images/makers_logo.jpg' id='logo'>
    <section id='box'>
      <br><h2>Add a new listing!</h2>
      <form action="/edit_listing" method="POST">
        Name of listing: <input type="text" name="title" required><br>
        Description: <textarea name="description" rows="4" cols="30" required></textarea><br>
        Price per day (£): <input type="text" name="price_per_night" required><br>
        Picture of space: <input type="url" id='url_pic' placeholder='Please only enter a URL' name="picture_url"><br>
      <section class='listing_range'>
        Select the maximum date range when your room is available.<br>
        If you wish to block out unavailable dates during this time you can do so on the next page.<br>
        Start of listing: <input type='date' name='availability_range_min' 
                             value="<%= Date.today.strftime("%Y-%m-%d") %>"
                             min="<%= Date.today.strftime("%Y-%m-%d")%>" required><br>
        End of listing: <input type='date' name='availability_range_max' 
                             value="<%= Date.today.strftime("%Y-%m-%d") %>"
                             min="<%= Date.today.strftime("%Y-%m-%d")%>" required><br>
      </section>
        <input type="submit" name="add_listing" value="Add listing!">
      </form>
    </section>
  </body>
</html>
