<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    <header><p style="text-align:right;">Logged in as <%="#{@signed_in_user.user_name}" %>&nbsp;
    <a href="/explore_rooms">Explore Rooms</a>&nbsp;
    <a href="/listings">My Listings</a>&nbsp;
    <a href="/requests">Requests</a>&nbsp;
    <a href="/logout">Log Out</a>
    <p></header>
  <body>
    <img src='images/makers_logo.jpg' id='logo'>
    <section id='box'>
    <div class="row">
      <div class="column">
      <h2>Requests you have made:</h2>
      <% BookingRequest.where(user_id: session[:current_user].id).reverse.each do |request| %>
        <li><%=Room.find_by(id: request.room_id).title %><br>
        <%=request.date_from %> to <%=request.date_to %> <br>
        <%=request.booking_status%>
        </li>
        <%end%>
        </div>
        <div class="column">
      <h2>Requests you have received:</h2>
      <% Room.where(user_id: session[:current_user].id).each do |room| %>
        <% BookingRequest.where(room_id: room.id).reverse.each do |request| %>
          <li><%=room.title%><br>
          <%=request.date_from %> to <%=request.date_to %> <br>
          <%=request.booking_status%><br>
          Made by: <%=User.find_by(id: request.user_id).user_name%>
          <%if request.booking_status=="pending"%>
            <form action="/request_response" method="post"><br>
            <input type="submit" value="Approve" name="<%=request.id%>">
            <input type="submit" value="Decline" name="<%=request.id%>">
            </form>
          <%end%>
          </div>
          </div>
          <hr>
          </li>
        <%end%>
      <%end%>
    </section>
  </body>
</html>

